* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 130%;
  color: hsl(192, 100%, 9%);
  font-size: 18px;
}
h1,
h3 {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 40px;
  line-height: 100%;
}
h3 {
  font-size: 28px;
}
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
header {
  background-image: url(bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  width: 96%;
  padding: 3% 2%;
}
nav {
  margin: 0 2% 5% 2%;
}
.nav2 {
  float: right;
  width: 10%;
  padding: 8px;
  border-radius: 3em;
  background-color: white;
  border: 1px solid hsl(193, 100%, 96%);
}
.section {
  display: flex;
  margin: 4% 2%;
}
button {
  cursor: pointer;
}
.but1 {
  background-color: hsl(322, 100%, 66%);
  border-radius: 5em;
  border: none;
  margin-top: 7%;
  padding: 15px 0;
  width: 30%;
  color: white;
  width: 50%;
  border: 1px solid hsl(208, 11%, 55%);
}
main {
  display: flex;
  flex-direction: column;
  margin: 8% 7% 13% 7%;
  position: relative;
}
.sec1,
.sec2 {
  width: 50%;
}
.sec1 {
  margin-top: 7%;
}
.sec1 p {
  padding-top: 5%;
}
.maj,
.maj-r {
  display: flex;
  margin-top: 3%;
  border: 1px solid hsl(193, 100%, 96%);
  border-radius: 1em;
}
.maj div,
.maj-r div {
  width: 50%;
  margin: 4% 1% 4% 12%;
}
.maj-r {
  flex-direction: row-reverse;
}
.maj h3,
.maj-r h3 {
  padding-top: 15%;
}
.maj p,
.maj-r p {
  padding-top: 4%;
  width: 90%;
}
.img1 {
  width: 100%;
}
.img2,
.img3,
.img4 {
  width: 70%;
}
.overlay {
  position: absolute;
  background-color: white;
  padding: 1% 5%;
  border-radius: 1em;
  border: 1px solid hsl(193, 100%, 96%);
  top: 105%;
  left: 22%;
}
.but2 {
  padding: 4% 8%;
  background-color: hsl(322, 100%, 66%);
  color: white;
  margin: 8% 15% 0 15%;
  width: 70%;
  border-radius: 3em;
  border: 1px solid hsl(193, 100%, 96%);
}
footer {
  background-color: hsl(192, 100%, 9%);
  padding: 5% 2% 2% 2%;
  display: flex;
  color: white;
  width: 100%;
}
.foot {
  width: 33.3%;
  margin: 0 4%;
}
.foot p {
  margin-top: 6%;
}
#foot1 {
  margin-top: 2.7%;
}
#foot2,
#foot3 {
  margin-top: 7%;
}
#foot2 {
  display: flex;
}
#foot2 div {
  width: 50%;
}
.copyr {
  padding-top: 45%;
  font-size: 12px;
}
.foot img {
  background-color: white;
}
@media screen and (max-width: 375px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  nav {
    height: 500%;
  }
  .section {
    flex-direction: column;
  }
  .sec1,
  .sec2 {
    width: 100%;
    text-align: center;
  }
  .but1 {
    margin-bottom: 5%;
  }
  .but2 {
    margin: 10px 0;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  main {
    text-align: center;
    margin-bottom: 40%;
  }
  main img {
    margin: 0%;
  }
  .maj,
  .maj-r {
    display: block;
  }
  .maj div,
  .maj-r div {
    width: 100%;
    margin: 4% 1%;
  }
  footer {
    flex-direction: column;
    padding: 0 5%;
  }
  footer img {
    width: 30%;
    margin-top: 30%;
  }
  .foot {
    width: 100%;
  }
  #foot2 {
    flex-direction: column;
  }
  #foot2 div {
    width: 100%;
  }
  #foot3 {
    text-align: center;
  }
  .copyr {
    padding-top: 0;
  }
  .overlay {
    width: 90%;
    top: 107%;
    left: 0%;
  }
  .nav1 {
    width: 30%;
  }
  .nav2 {
    width: 25%;
  }
}
